/* for body */

*{
    color: black;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    max-width: 1400px;
    margin: auto;
}

body{
    margin: auto 30px;
}


h1{
    font-weight: 700;
    font-size: 22px;
    font-size: 1.38rem;
}

h2{
    font-weight: 700;
    font-size: 16px;
    margin: auto 0;
}

h3{
    font-weight: 400;
    font-size: 14px;
    margin: auto 0;
}

a{    
    text-decoration: none;
    color: #000000;
}

li{
    list-style: none;
}

/* #all{
    border: solid 2px #0065FC;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;

} */

/* NAV */

nav{
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav #right-nav{
    margin: 0;
}

nav a{
    display: inline-block;
    width: 162px;
    text-align: center;
    font-size: 16px;
    color: #000000;
}

#accommodation-page{
    color: #0065FC;
    font-weight: 500;
    padding-top: 48px;
    border-top: solid 2px #0065FC;
}


#logo-Booki{
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    width: 61.09px;
    margin: 0;
   
}

#logo-Booki img{
    max-width: 100%;
}

/* FORM */

#selector-form{
    margin: 30px auto;
}


/* FORM - SEARCH BAR */

#f-search-bar{
    display: inline-flex;
    align-items: center;
    margin: 20px auto;
    padding: 0;
    height: 49px;
    border: none;
}

#icon-location{
    width: 49px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-content: center;
}

#f-search-bar i{
    font-size: 18px;
}

#f-type-city{
    height: 49px;
    width: 197px;
    border: 1px solid #F2F2F2;
    border-right: solid 1px transparent;
    padding: 0 17px;
}

#f-type-city::placeholder{
    font-size: 18px;
    font-weight: 700;
    color: black ;
}

input[type="text"]{
    font-size: 18px;
    font-weight: 700;
    color: black;
}


#submit{
    height: 51px;
    width: 130px;
    background-color: #0065FC;
    border: none;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

/* FORM - FILTERS  */

#f-filters{
    margin: 20px 0;
    max-width: 890px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

#f-filters span{
    font-weight: 700;
    font-size: 18px;
    margin: auto 0 auto 0;
}

#f-filters i{
    color: #0065FC;
    font-size: 1rem;
}
.filter{
    font-size: 1rem;
    border: solid 2px #D9D9D9;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: 700;
    margin: 0;
    /* 10px 15px; */
    cursor: pointer;
}


form input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + .filter{
    background-color: #DEEBFF;
}

/* FORM - INFO */
#form-info{
    margin: 25px;
    display: flex;
    align-items: center;
    margin: 0;
}

#form-info-icon{
   border: 1px solid #D9D9D9;
   margin: auto 0;
   border-radius: 12px;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#form-info i{
    font-size: 11px;
    color: blue;
}
#form-info span{
    margin-left: 11px;
}


/* MAIN */

main{
    border: #0065FC 1px solid;
    margin: 0;
    width: 100%;
}
main h1{
    margin: 40px 40px 20px 40px;
}

/* ACCOMmODATION  */

#accommodation{
    border: #0065FC 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 50px 0;
}


#accommodation-popular, #accommodation-list{
    height: 626px;
    border-radius: 20px;
    margin: 0;
    background-color: #F2F2F2;
}



.stars{
    margin: auto 0;
    letter-spacing: -2px;
}

.fa-star{
    color: #0065FC;
    font-size: 12px;
}
.star5{
    color: #F2F2F2;
}

.section-title{
    height: 10%;
    display: flex;
    margin: 10px 40px;
    justify-content: space-between;
    border: #0065FC 1px solid;
    align-items: center;
}

.section-title h1{
    margin: 0;
}

#accommodation h2,#accommodation h3{
    margin: 3.5px auto;
}
/* MAIN - accommodation list */

#accommodation-list{
    width: 65.5%;
    position: relative;
    
}

#accommodation-list .card-container{
    border: #0065FC 1px solid;
    height: 68%;
    margin: auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#accommodation-list .card{
    width: 30.5%;
    height: 200px;
    border-radius: 20px;
    background-color: #FFFF;
    margin: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#accommodation-list .card-img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: violet 1px solid;
    border-radius: 20px 20px 0px 0px;

}
#accommodation-list img{
    width: 96%;
    height: 93%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px; 
}

#accommodation-list .card-text{
    border: #0065FC 1px solid;
    margin: 2px 16px 10px 16px;

}


#accommodation-list p{
    position: absolute;
    bottom: 5%;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
}
 /* MAIN - accommodation popular */

#accommodation-popular{
    width: 32.5%;
}

.section-title i{
    font-size: 16px;
    color: #0065FC;
    margin: 0;
}

.section-title span{
    margin: 0;
}

#accommodation-popular .card-container{
    border: #0065FC 1px solid;
    height: 78%;
    margin: auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#accommodation-popular .card{
    width: 100%;
    height: 28.5%;
    border-radius: 20px;
    background-color: #FFFF;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
   
}

#accommodation-popular .card-img{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    margin:0;
    border: red 1px solid;

}

#accommodation-popular img{
    width: 94%;
    height: 94%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;

}

#accommodation-popular .card-text_stars{
    border: #0065FC 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
    width: 45%;
    margin: auto ;
}
#accommodation-popular .card-text{
    border: #0065FC 1px solid;
    margin: 0;


}
#accommodation-popular .stars{
    margin: 0;
}




/* #accommodation-popular img{
    height: 100%;
    width: 137px;
    border-radius: 20px 0px 0px 20px;
}

#accommodation-popular h3{
    margin: 7px 0 0 0;

}

#accommodation-popular h2{
    margin: 0;
} */


/* activities */

#activities{
    width: 100%;
    /* max-height: 700px; */
    margin: 30px 0;
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#activities .section-title{
    width: 100%;
    height: 10%;
}

#activities .card-container{
    display: flex;
    margin: 10px 0;
    border: blue 1px solid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#activities .card{
    width: 22%;
    height:444px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

#activities .card-img{
    border: blue 1px solid;
    margin: 0;
    height: 87%;
    border-radius: 20px 20px 0 0;
}

#activities img{
   height: 100%;
   width: 100%;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
   margin: 0 ;
   padding: 0;
}
#activities .card-text{
    border: blue 1px solid;
    width: 80%;
    margin: 0 auto;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.activities-card-container h2{
    /* margin: 12px 20px; */
    margin: 0;
    padding: 0;  
}

/* FOOTER */

footer{
    width: 100%;
    margin: 30px 0 0 0;
    height: 225px;
    /* margin : 50px 50px 0 50px; */
    /* padding: 45px 348px 0 70px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2 ;
}

footer .text-element{
    border: blue 1px solid;
    margin: 0;
    display: flex;
    width: 80%;
    height: 80%;
}

footer h2 a, footer h2{
    margin: 0 0 20px 0;
    font-weight: 800;
    font-size: 18px;
    padding: 0;
}

footer li, footer ul, footer li a{
    margin: 0 0 12px 0;
    padding: 0;
}

@media screen and (max-width: 992px) {

    .filter{
        margin: 8px 0px;
       
    }

    #accommodation{
        flex-direction: column;
    }

    #accommodation-list{
        width: 100%;
        margin-bottom: 50px;
    }

    #accommodation-popular{
        width: 100%;
        height: 278px;
        display: flex;
        flex-direction: column;
    }

    #accommodation-popular .card-container{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    #accommodation-popular .card{
        width: 29.75%;
        height: 144px;
        margin: 0;
    }

    #accommodation-popular h2{
        font-size: 14px;
    }

    #accommodation-popular h3{
        font-size: 12px;
    }

    /* ACTIVITIES */

    #activities .card{
        height: 267px;
    }

    #activities .card-text{
        height: 56px;
    }

    #activities .card-img{
        height: 211px;
    }

    @media screen and (max-width:768px) {
        nav{
            flex-direction: column;
            margin-top: 21px;
        }

        nav #accommodation-page{
            border-top: none;
            border-bottom: solid 3px #0065FC;
            padding-top: 20px;
            padding-bottom: 23px ;
            margin: 0;
        }

        nav #activities-page{
            border-bottom: solid 3px #f2f2f2;
            padding-top: 20px;
            padding-bottom: 23px ;
            margin: 0;

        }
        nav a {
            margin: 0;
        }
    }






}